body {
  padding-bottom: 4rem;
}

.post-meta {
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
}

ol>li {
  margin-bottom: 1rem;
}
